* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.background {
  position: relative;
  height: 98%;
  background: url('../img/background.png') no-repeat center center/cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  padding: 20px 0px 300px 0px;
}

h1 {
  margin: 30px 10px 10px 10px;
  /* text-shadow: 5px 5px 5px rgb(78, 78, 78); */
  text-shadow: 0px 5px 10px #000,
    0px 10px 10px rgba(0, 0, 0, 0.15),
    0px 15px 15px rgba(0, 0, 0, 0.1),
    0px 20px 20px rgba(0, 0, 0, 0.1);
}

hr.blue-bar {
  width: 30px;
  height: 3px;
  background-color: #00AEEF;
  /* Cor azul */
  border: none;
  margin: 10px auto 20px;
}

.content p {
  margin: 50px 200px 80px 200px;
  font-size: 20px;
  /* text-shadow: 5px 5px 5px rgb(78, 78, 78); */
  text-shadow: 0px 5px 10px #000,
    0px 10px 10px rgba(0, 0, 0, 0.15),
    0px 15px 15px rgba(0, 0, 0, 0.1),
    0px 20px 20px rgba(0, 0, 0, 0.1);
}

.more-galleries {
  margin: 40px 0;
}

.more-galleries a {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0);
  ;
  color: white;
  border: none;
  border-style: solid;
  border-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

/* Estilo geral do corpo */
.contact-form {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Estilo do título */
h2 {
  text-align: center;
  font-size: 50px;
}

.formulario {
  background: #fff;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Estilo do formulário */
form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilo dos rótulos */
label {
  display: block;
  margin: 10px 0 5px;
}

/* Estilo dos campos de entrada, seleção e área de texto */
input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo dos campos dentro do formulário */
form .form-group {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
}

/* Estilo do botão */
form button {
  background: #727373;
  color: #fff;
  border: none;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

/* Efeito de hover no botão */
button:hover {
  background: #444445;
}

#photo {
  max-width: 100%;
  height: auto;
}

#media-section {
  margin-top: 10px;
}

/* Itens da galeria */
#media-gallery div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px;
  border-bottom: 1px solid #ccc;
}

#media-gallery img {
  width: 30%;
  height: auto;
}

#media-gallery video {
  width: 70%;
  height: auto;
}

#media-gallery p {
  font-size: 30px;
  text-shadow: 0px 5px 10px #000,
    0px 10px 10px rgba(0, 0, 0, 0.15),
    0px 15px 15px rgba(0, 0, 0, 0.1),
    0px 20px 20px rgba(0, 0, 0, 0.1);
}

/* Estilo responsivo para telas menores */
@media (max-width: 768px) {
  p {
    margin: 0;
  }

  form {
    flex-direction: column;
  }

  form .form-group {
    flex: 1 1 100%;
  }
}